@import "compass/css3";



.habit a {background-color: #eee;
margin-top: 10px;
margin-bottom: 10px;
padding: 20px;}
.date {font-size: 12px}
h1 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


.hullist li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-right: 50px;
  list-style-type: none;
}

.hullist li:first-child {
  border-top: 1px solid #ccc;
}

.hullist li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 500px;
}

.hullist li a:hover {
  font-size: 30px;
  background: #3A3A3A;
  color: white;
}

.hullist li a:hover:not {
  font-size: 10px;
}

#hlist {
  margin-bottom: 30px;
}

.addlink {background-color: #eee;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border: solid #ccc;
}

a:hover, a:visited, a:link, a:active 
{text-decoration: none;
}


.unfriend {
	padding-top: 30px;
}
