th {
	padding: 40px;
	text-align: center;

	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

td {
	padding: 40px;
	text-align: center;
	border: 1px solid black;
	margin: auto;

}

.tg-0ql5 {	
	padding: 20px;
	text-align: center;
	background-color: #eee;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	
}

td ul {
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;

}



.tg {
	margin: auto;
	margin-top: 50px;
	
}
